body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    background: #7952b3 !important;
    font-weight: bold;
}
.nav-link:hover{
    background: #FFE484;
    border-radius: 5px;
    color: black !important;
}
.container{
    background: rgb(225, 224, 224);
}
.product-name {
font-weight: 700;
cursor: pointer;
}

.product-price,
.cart_item_price {
font-style: oblique;
}

.product-img {
max-width: 140px;
margin: 0 auto;
}

.card {
border: 1px dashed grey;
}
.product:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.addToCart{
    padding: 10px 8px !important;
    border-radius: 5px !important;
}
.credit{
    background: #7952b3;
    color: whitesmoke;
    font-size: 20px;
}
.credit span{
    color: #FFE484;
    cursor: pointer;
    font-weight: 600;
}
.btn:disabled {
opacity: 0.5;
}

.cart_item_name {
font-weight: 700;
}



